PORT=5000
NODE_ENV=development

# Database PostgreSQL
PG_HOST=sakura.proxy.rlwy.net
PG_PORT=19251
PG_USER=postgres
PG_PASSWORD=hsygUVNhuZYKjfAPjFXlORhrMDRFheCT
PG_DATABASE=railway
# Poné en true si tu proveedor (ej. Railway) requiere SSL para conexiones externas
PG_SSL=false

# JWT
JWT_SECRET=super_secret_jwt_key_tactica_flow
 
# OpenAI API Key Erick
OPENAI_API_KEY=sk-...

# Táctica ERP API / Server URL
TACTICA_API_URL=http://localhost:3000/api
